@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
line-height: 1.5;
font-weight: 400;

font-synthesis: none;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

--housestyle-background-colour: 26, 31, 56;
--housestyle-secondary-colour: 71, 79, 122;
--housestyle-light-text-colour: 244, 244, 244;
--housestyle-dark-text-colour: 31, 31, 31;
--housestyle-highlight-colour: 101, 51, 102;
--housestyle-accent-colour: 78, 157, 45;

--footer-height: 50px;
}

.app-container {
background-color: rgba(var(--housestyle-background-colour), 1);
color: rgba(var(--housestyle-light-text-colour), 1);

height: 100vh;
width: 100vw;

overflow: hidden;
}

.map-container {
height: 60%;
/*background-color: var(--housestyle-background-colour);*/
}

.suggestions-container {
height: calc(30% - var(--footer-height));
/*background-color: blueviolet;*/
}

.EmptyRooms-container {
height: calc(10% - var(--footer-height));
/*background-color: blueviolet;*/
}

.footer-container {
height: var(--footer-height);
/*background-color: brown;*/
}

.card {
border-radius: 15px;
padding: 15px;

background-color: rgba(var(--housestyle-light-text-colour), 0.1);

margin-left: auto;
margin-right: auto;
}